@media screen and (max-width: 768px) {
    #aboutMe {
        flex-direction: column;
        padding: 4rem 1rem;
        height: auto;
    }
}

#aboutMe {
    display: flex;
    background-image: url('/img/net (1).gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#aboutMe .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.541);
    color: rgb(249, 241, 230);
    margin: 100px 0px;
    padding: 50px 20px;
    border-radius: 10px;
    overflow-y: auto;
    scrollbar-width: thin;;
    max-height: 100rem;
    min-height: 50rem;
    padding-right:10px;
    scrollbar-color: #6c63ff #1a1a1a;
}

.img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    padding: 5px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #ffffff44;
    box-shadow: 0 0 20px #6c63ff4d;
}

.img:hover {
    box-shadow: 0 0 20px #8580f769
    
}

.text-content {
    padding: 20px;
}