@media screen and (max-width: 768px) {
    #aboutMe .container {
        flex-direction: column;
        padding: 4rem 1rem;
        height: auto;
        padding: 50px 20px;
    }
}

#aboutMe {
    display: flex;
    padding-top: 120px;
    background-image: url('./net (1).gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#aboutMe .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.541);
    color: rgb(249, 241, 230);
    margin: 150px auto 100px;
    margin-top: 100px;
    padding: 80px 50px;
    border-radius: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #6c63ff #1a1a1a;
    width: 75%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}

.img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    padding: 5px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #ffffff44;
    box-shadow: 0 0 20px #6c63ff4d;
}

.img:hover {
    box-shadow: 0 0 20px #8580f769
}

.text-content {
    padding: 20px;
}