#contact {
    display: block;
    background-color: #0d0d0d;
    color: rgb(255, 255, 255);
    min-height: 25vh;
    padding: 4rem 2rem;
}

.contact-tag {
    text-align: center;
    width: 100%;
    margin: 20px;
}


.contact-tag ul {
    display: flex;
    color: #65a52abd;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 70px auto 0;
    flex-direction: column;
    gap: 5px;
}

.contact-tag ul li a {
    color: #b0df42e5;
    text-decoration: none;
    transition: color 0.3s ease;

}

.contact-tag ul li a:hover {
    color: #fff;
}