body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

section {
    display: flex;
    min-height: 100vh;
}

.logo a {
    font-size: 1.4rem;
    font-weight: bolder;
    text-decoration: none;
    color: rgba(247, 247, 247, 0.664);
}

a:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.02);
}

.navbar {
    background-color: rgba(0, 0, 0, 0.804);
    color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    padding: 15px 0px;
}

.navbar .nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-right: 30px;
}

.nav-links li a {
    color: rgba(255, 255, 255, 0.733);
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: rgb(250, 240, 224);
    transform: scale(1.02);
    text-decoration-line: underline;
}

#aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/net.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding: 7rem 2rem;
}

#aboutMe .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.541);
    color: rgb(249, 241, 230);
    padding: 85px;
    max-width: 850px;
    margin: 0 auto;
    height: auto;
    max-height: 60%;
    border-radius: 10px;
}

#aboutMe .container {
    max-height: 450px;
    overflow-y: auto;
    padding-right: 4rem;
    scrollbar-width: thin;
    scrollbar-color: #6c63ff #1a1a1a;
}

#aboutMe img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #ffffff44;
    box-shadow: 0 0 20px #6c63ff4d;
}

#aboutMe .intro {
    display: column;
    margin: 50px;
    text-align: center;
    margin: auto;
    width: 100%;
}


#aboutMe .intro h1 {
    font-size: 2rem;
    color: rgb(235, 232, 232);
    margin-bottom: 2rem;
    ;

}

.footer {
    background-color: black;
    color: #65a52abd;
    text-align: center;
    width: 100%;
    top: 0;
    z-index: 800;
    padding: 15px 0px;
}